*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}
:root{
    --hover-color: rgba(255, 255, 255, 0.356);
    --tab-height: 30px;
    }

.view{
    margin: 0px;
    height: 100%;
    width: 100%;
    float: right;
    border: 2px solid black;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0px;
}
